<% layout("/layout/boilerplate.ejs") %>

<h1>about page</h1>

<div class="col-md-8 offset-md-3 mt-4">
    <h4>ListPro</h4>
    <p>
        Hi, my name is Mandeep nagar and i'm from rajasthan. i'm 18 years old as of 01-03-2025.
    </p>
    <p>
        Currently i'm studying BS in computer science and data analytics and MERN stack development from Apna College.
    </p>
    <p>This is my first major project in Full-Stack development, before this i've created minor projects and web-app games like simon-says.</p>
    <p>i'll try my best to add more features and making it good because it's my first one.</p>
    <p>if you want to give any feedback or suggestion or notify me about any bug or glitch.</p>
    <p>then you can contact me on <a href="https://www.linkedin.com/in/mandeepnagar/" target="_blank">linkedin <i class="fa-brands fa-linkedin"></i></a>


</div>