<% layout("/layout/boilerplate.ejs") %>
<h1>Home Page</h1>

<div class="col-md-8 offset-md-3 mt-4">
    <h4>ListPro</h4>
    <p>
        ListPro is a web-app where you can list your rooms/places in the form of listing. (just like the post)
    </p>
    <p>You can get the room/places in best price </p>



    <p>Click on "See All Listing" button to get all available listing. </p>
    <form action="/listings" class="mt-3">
        <button class="btn btn-dark">See All Listings!</button>
    </form>
</div>

