<% layout("/layout/boilerplate.ejs") %>
<br>
<div class="row">
    <div class="col-8 offset-2">
    <h2>Create New Listing</h2>
    <form action="/listing" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea type="text" name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-lable">Image</label>
            <input type="text" name="listing[image]" placeholder="Put image link/URL" class="form-control">
        </div>
        
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="number" class="form-lable">Price in Rs</label>
            <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
        </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
        </div>
        <br>
        <button class="btn btn-dark mb-3">Create Now</button>
    </form>
</div>
</div>
